name: Build And Release

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check-out repository
      uses: actions/checkout@v4

    - name: Build
      run: make

    - name: Create Github Release
      uses: ncipollo/release-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        artifacts: waycentral-${{ github.ref_name }}.tar.gz
        replacesArtifacts: false
        name: v${{ github.ref_name }}
        allowUpdates: true
